<!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Calculator</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
</head>
<body>
<form id="calculator">
    <input type="text"id="txtDisplay" v-model="result" value="0" />

    <input @click="clear_all()" type="button" id="btnDelete" value="CLR" /><input @click="clear_last_number()" type="button" id="btnBackspace" value="BKS" /><input @click="input_number('*')" type="button" id="btnDivide" value="/" /><input type="button" id="btnMultiply" value="*" />
    <template v-for="row,key in numbers">
        <template v-for="index in row">
            <my_button @button_clicked="show_result" :number="index"></my_button>
        </template>
        <input v-if="key===0" type="button" id="btnSubtract" value="-" />
    </template>

    <input type="button" id="btnAdd" value="+" />

    <input type="button" id="btnEquals" value="=" />

    <input @click="input_number('.')" type="button" id="btnDecimal" value="." />
    <div class="clear"></div>
</form>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
    Vue.component('my_button', {
        template:
        `
            <input
                @click="input_number(number)"
                type="button"
                :value="number" />
        `,
        props:["number"],
        data: function () {
            return {}
        },
        methods: {
            input_number: function (value) {
                this.$emit("button_clicked",value)
            },
        }
    })

    var app = new Vue({
        el: '#calculator',
        data: {
            result:'',
            operand1:'',
            operand2:'',
            numbers: [
                [7,8,9],
                [4,5,6],
                [1,2,3],
                [0]
            ]
        },
        methods: {
            show_result: function(value) {
              this.result = this.result + '' + value;
            },
            clear_last_number: function () {
                this.result = this.result.substring(0, this.result.length - 1);
            },
            clear_all: function () {
                this.result = '';
            }
        }
    })
</script>
</html>